absl-py==0.15.0
accelerate==0.18.0
ai21==1.0.3
aiofiles==23.1.0
aiohttp==3.8.4
aiopy==1.1.6
aiosignal==1.3.1
alabaster==0.7.12
albumentations==1.3.1
alembic==1.13.1
altair==4.2.2
altgraph==0.17.3
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
anyio==3.6.2
appdirs==1.4.4
arfpy==0.1.1
argcomplete==1.10.3
argh==0.26.2
arrow==1.3.0
asgiref==3.6.0
astor==0.8.1
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.3
atomicwrites==1.4.0
auto-py-to-exe==2.33.0
autograd==1.6.2
autograd-gamma==0.5.0
autopep8==2.0.4
backcall==0.2.0
backoff==2.2.1
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
binaryornot==0.4.4
bitsandbytes==0.37.2
bkcharts==0.2
blis==0.7.11
boto==2.49.0
bottle==0.12.25
bottle-websocket==0.2.9
Bottleneck==1.3.2
Brotli==1.1.0
brotlipy==0.7.0
buildozer==1.5.0
cachetools==5.3.0
carbontracker==1.1.7
catalogue==2.0.10
catboost==1.2
certifi==2020.6.20
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
cloudpathlib==0.16.0
clyent==1.2.2
cmake==3.27.7
cohere==4.1.3
colorama==0.4.6
colorlog==6.8.2
compressed-rtf==1.0.6
comtypes==1.1.7
conda==4.9.2
conda-build==3.20.5
conda-verify==3.4.2
confection==0.1.4
contextlib2==0.6.0.post1
contourpy==1.1.0
cookiecutter==1.7.3
cpufeature==0.2.1
CRPS==2.0.4
cvxopt==1.3.0.1
cvxpy==1.3.1
cycler==0.10.0
cymem==2.0.8
Cython==3.0.8
cytoolz==0.11.0
daal==2024.0.1
daal4py==2024.0.1
dask==2023.5.0
datasets==2.11.0
decaf-synthetic-data==0.1.6
decorator==4.4.2
deepdiff==6.7.1
deepspeed==0.3.1
defusedxml==0.6.0
dgl==2.0.0
dill==0.3.6
dipy==1.8.0
distlib==0.3.6
Django==4.2
dlib==19.24.2
dm-tree==0.1.8
docutils==0.16
docx==0.2.4
docx2txt==0.8
ebcdic==1.1.1
ecos==2.0.12
Eel==0.16.0
einops==0.6.0
eli5==0.13.0
entrypoints==0.3
EPANETTOOLS==1.0.0
et-xmlfile==1.0.1
etils==1.0.0
evaluate==0.4.0
extract-msg==0.28.7
fastai==2.7.14
fastapi==0.95.0
fastcache==1.1.0
fastcore==1.5.29
fastdownload==0.0.7
fastdtw==0.3.4
fastprogress==1.0.3
feather-format==0.4.1
fflows==0.0.3
ffmpy==0.3.0
filelock==3.10.7
Flask==1.1.2
flatbuffers==1.12
fonttools==4.40.0
formulaic==0.6.2
frozenlist==1.3.3
fsspec==2023.3.0
future==0.18.2
gast==0.3.3
gdown==4.7.1
geocoder==1.38.1
geomloss==0.2.6
gevent-websocket==0.10.1
gitdb==4.0.10
GitPython==3.1.32
glob2==0.7
google-api-core==2.11.0
google-api-python-client==2.74.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.3
google-cloud-speech==2.19.0
google-cloud-texttospeech==2.14.1
google-pasta==0.2.0
googleapis-common-protos==1.58.0
googletrans==3.0.0
gradio==3.24.1
gradio_client==0.0.7
graphlib-backport==1.0.3
graphviz==0.20.1
grep==0.3.2
grpcio==1.32.0
grpcio-status==1.54.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
HeapDict==1.0.1
hpack==3.0.0
hstspreload==2024.1.5
httpcore==0.9.1
httplib2==0.21.0
httpx==0.13.3
huggingface-hub==0.13.0
hyperframe==5.2.0
ibug==0.0.9
identify==2.5.22
image-similarity-measures==0.3.6
imagesize==1.2.0
IMAPClient==2.1.0
imbalanced-learn==0.12.0
imgviz==1.7.2
importlib-metadata==6.1.0
importlib-resources==5.12.0
inflate64==1.0.0
inflection==0.5.1
interface-meta==1.3.0
ipython_genutils==0.2.0
itk==5.4rc2
itk-core==5.4rc2
itk-elastix==0.19.1
itk-filtering==5.4rc2
itk-io==5.4rc2
itk-numerics==5.4rc2
itk-registration==5.4rc2
itk-segmentation==5.4rc2
itsdangerous==1.1.0
jaraco.classes==3.2.3
jax==0.4.8
jdcal==1.4.1
Jinja2==2.11.2
jinja2-time==0.2.0
joblib==1.2.0
json5==0.9.5
JsonForm==0.0.2
JsonSir==0.0.2
jupyter==1.0.0
jupyter-core==4.6.3
jupyterlab==2.2.6
kaggle==1.5.12
keopscore==2.2.2
Keras==2.4.0
keras-flops==0.1.2
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==23.13.1
Kivy==2.1.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kivymd==0.104.2
kiwisolver==1.4.4
labelme==5.2.1
langcodes==3.3.0
lazy-object-proxy==1.4.3
lazy_loader==0.3
libaio==0.9.1
libarchive-c==2.9
libclang==16.0.0
lifelines==0.27.7
lightgbm==3.3.5
lightning-utilities==0.8.0
linkify-it-py==2.0.0
llvmlite==0.41.1
locket==0.2.0
loguru==0.7.2
lz4==4.3.2
make==0.1.6.post2
Mako==1.3.0
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
ml-dtypes==0.1.0
mock==4.0.2
monai==1.3.0
MouseInfo==0.1.3
mpmath==1.1.0
msgpack==1.0.0
multidict==6.0.4
multipledispatch==0.6.0
multiprocess==0.70.14
multivolumefile==0.2.3
murmurhash==1.0.10
natsort==8.3.1
navigator-updater==0.2.1
networkx==2.8.8
nflows==0.14
ngboost==0.4.1
nibabel==5.1.0
ninja==1.11.1
nodeenv==1.7.0
nose==1.3.7
notebook 
npm==0.1.1
nptyping==2.5.0
Nuitka==2.0.2
numba==0.58.1
numexpr==2.7.3
numpy==1.19.5
numpydoc 
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.46
oopnet==0.6.2
opacus==1.4.0
openai==0.27.3
opencv-contrib-python==4.7.0.72
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.74
openpyxl==3.1.2
opt-einsum==3.3.0
optional-django==0.1.0
optuna==3.5.0
ordered-set==4.1.0
orjson==3.8.9
osqp==0.6.2.post8
ovito==3.8.4
owa-epanet==2.2.4
packaging==23.1
pandas==1.2.3
pandocfilters
paramiko 
parso==0.7.0
partd==1.1.0
path 
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pdfminer.six==20191110
pefile==2023.2.7
peft==0.2.0
pep8==1.7.1
pexpect==4.8.0
pgbm==1.3
pgmpy==0.1.24
phasepack==1.5
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.2.0
plotly==5.14.1
pluggy==0.13.1
ply==3.11
portalocker==2.8.2
poyo==0.5.0
pre-commit==3.2.2
preshed==3.0.9
prometheus-client==0.8.0
promise==2.3
prompt-toolkit 
properscoring==0.1
proto-plus==1.22.2
protobuf==3.20.0
psutil==5.9.8
ptyprocess==0.7.0
py 
py-cpuinfo==9.0.0
py7zr==0.20.8
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
PyAutoGUI==0.9.54
pybcj==1.0.2
pybind11==2.11.1
pycocotools==2.0.6
pycodestyle==2.11.1
pyCompare==1.5.4
pycosat==0.6.3
pycox==0.2.3
pycparser 
pycryptodome==3.17
pycryptodomex==3.20.0
pycuda==2023.1
pycurl==7.43.0.6
pydantic==1.10.7
pydicom==2.0.0
pydocstyle 
pydot==1.4.2
pydub==0.25.1
pyelftools==0.29
pyflakes==2.2.0
PyGetWindow==0.0.9
Pygments
pygubu==0.33
pygubu-designer==0.38
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pykeops==2.2.2
pylint
pyls-spyder==0.4.0
PyMsgBox==1.0.9
PyNaCl 
pynrrd==1.0.0
pynvml==11.5.0
pyodbc===4.0.0-unsupported
pyOpenSSL
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
pyppmd==1.1.0
PyQt5==5.12
PyQt5-Qt5==5.15.2
PyQt5_sip==4.19.19
PyQtWebEngine==5.12.1
pyreadline==2.1
PyRect==0.2.0
pyrsistent 
PyScreeze==0.1.30
PySide6-Essentials==6.5.1.1
PySocks==1.7.1
python-dateutil==2.8.2
Python-EasyConfig==0.1.7
python-json-logger==2.0.7
python-jsonrpc-server
python-language-server
python-multipart==0.0.6
python-pptx==0.6.21
python-resources==0.3
pytools==2023.1.1
pytorch-lightning==1.9.5
pyts==0.13.0
pyttsx3==2.90
pytweening==1.0.7
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets 
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==6.0.1
pyzmq==24.0.1
pyzstd==0.15.9
QDarkStyle==2.8.1
qdldl==0.1.5.post3
QtAwesome 
qtconsole
QtPy==1.9.0
qudida==0.0.4
ratelim==0.1.6
redis==5.0.2
regex
requests==2.31.0
requests-oauthlib==1.3.1
Resource==0.2.1
responses==0.18.0
rfc3986==1.5.0
rope
rouge-score==0.1.2
rsa==4.9
Rtree==0.9.4
ruamel_yaml==0.15.87
sacrebleu==2.3.1
scikit-cuda==0.5.3
scikit-image==0.19.3
scikit-learn==1.2.2
scikit-learn-intelex==2024.0.1
scikit-posthocs==0.7.0
scipy==1.9.1
screeninfo==0.8.1
scs==3.2.2
seaborn==0.12.2
semantic-version==2.10.0
Send2Trash==1.5.0
sentencepiece==0.1.97
seqeval==1.2.2
setuptools-scm==8.0.4
sh==2.0.3
shap==0.41.0
shiboken6==6.5.1.1
simplegeneric==0.8.1
SimpleITK==2.3.1
singledispatch 
sip==4.19.13
six==1.15.0
sklearn==0.0.post5
slicer==0.0.7
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.8.1
spektral==1.3.1
Sphinx 
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport 
spyder 
spyder-kernels
SQLAlchemy 
sqlparse==0.4.4
srsly==2.4.8
starlette==0.26.1
statsmodels==0.12.0
sympy 
synthcity==0.2.10
tab-transformer-pytorch==0.2.0
tables==3.6.1
tabulate==0.9.0
tbb==2021.11.0
tblib 
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==1.8
tensorflow==2.4.0
tensorflow-addons==0.14.0
tensorflow-datasets==4.8.2
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.0
tensorflow-hub==0.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.12.0
tensorflow-model-optimization==0.7.3
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
textdistance==4.2.1
textract==1.6.5
texttable==1.7.0
tf-slim==1.1.0
thinc==8.2.3
thop==0.1.1.post2209072238
threadpoolctl
three-merge==0.1.1
thundersvm==0.3.12
tifffile==2020.10.1
timm==0.6.13
tokenizers==0.13.2
toml
tomli==2.0.1
toolz 
torch==1.13.1
torch-scatter==2.1.2
torch-sparse==0.6.18
torch_geometric==2.5.0
torchaudio==0.9.0
torchdata==0.5.1
torchir==0.1
torchmetrics==0.11.4
torchtext==0.14.1
torchtuples==0.2.2
torchvision==0.14.1
tornado==6.0.4
tqdm==4.66.1
traitlets 
traits==6.4.1
transformers==4.27.3
trx-python==0.2.9
tsai==0.3.9
typeguard==4.0.0
typer==0.9.0
types-python-dateutil==2.8.19.14
typing-extensions==3.7.4.3
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.1
ujson 
ultralytics==8.0.154
uncertainty-toolbox==0.1.1
unicodecsv==0.14.1
urllib3==2.0.3
uvicorn==0.21.1
virtualenv==20.21.0
wasabi==1.1.2
watchdog
wcwidth 
weasel==0.3.4
webencodings==0.5.1
websockets==11.0
Werkzeug==1.0.1
wget==3.2
whichcraft==0.6.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
win32-setctime==1.1.0
wincertstore==0.2
wrapt==1.12.1
xarray==2023.1.0
xgboost==1.7.5
xgbse==0.2.3
xlib==0.21
xlrd==1.2.0
XlsxWriter
xlwings==0.20.8
xlwt==1.3.0
xmltodict==0.12.0
xturing==0.0.7
xxhash==3.2.0
xyzservices==2023.5.0
yapf
yarl==1.8.2
zict==3.0.0
zipp
zope.event==4.5.0
zope.interface 
zstandard==0.22.0
